<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Piscokku</title>
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
    <div class="h-screen w-screen grid place-items-center">
        <div class="inline-flex flex-col items-center px-20 py-12 bg-[#7D398E] border-[4px] rounded-3xl border-black">
            <p class="text-5xl text-white font-semibold mb-10">Deadline pengumpulan Abstrak</p>
            <div class="grid grid-cols-4 items-center text-center">
                <div class="mx-10">
                    <p class="text-3xl pb-5 text-white" id="days">00</p>
                    <p class="text-4xl text-white">Hari</p>
                </div>
                <div class="mx-10">
                    <p class="text-3xl pb-5 text-white" id="hours">00</p>
                    <p class="text-4xl  text-white">Jam</p>
                </div>
                <div class="mx-10">
                    <p class="text-3xl pb-5 text-white" id="minutes">00</p>
                    <p class="text-4xl text-white">Menit</p>
                </div>
                <div class="mx-10">
                    <p class="text-3xl pb-5 text-white"id="seconds">00</p>
                    <p class="text-4xl  text-white">Detik</p>
                </div>
            </div>
        </div>
        <div>
            tes
        </div>
    </div>

    <script type="text/javascript" src="../public/test.js"></script>
</body>
</html>